<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color:white"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="reqUser=='true'">
  <ion-grid style="margin-top: 10%">
    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
           <b> Board Room : </b>
          </ion-label>
          <ion-label >
            {{selectedBdNo}}
          </ion-label>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
              <b> Title : </b> 
          </ion-label>
          <ion-input [(ngModel)]="selectedTitle" style="margin-left: 39%;">

          </ion-input>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
              <b> Book By : </b> 
          </ion-label>
          <ion-label>
            {{selectedPerson}}
          </ion-label>

        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
              <b> Description : </b> 
          </ion-label>
          <ion-input [(ngModel)]="selectedDesc" style="margin-left: 39%;">
           
          </ion-input>

        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
              <b>  Start Time : </b> 
          </ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="selectedStartTime"
            [min]="minDate"></ion-datetime>

        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center">

        <ion-item>
          <ion-label>
              <b> End Time : </b> 
          </ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="selectedEndTime" [min]="minDate"></ion-datetime>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 5%; width: 85%; float: left; margin-top: 10%">
      <ion-col>

        <ion-button (click)="changeEvent()">
          Change
        </ion-button>

      </ion-col>

      <ion-col>

        <ion-button (click)="deleteEvent()">
          Delete
        </ion-button>

      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>


<ion-content *ngIf="reqUser=='false'">

  <ion-grid style="margin-top: 10%">
    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
            Board Room :
          </ion-label>
          <ion-label>
            {{selectedBdNo}}
          </ion-label>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
            Title :
          </ion-label>
          <ion-label>
            {{selectedTitle}}
          </ion-label>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
            Book By :
          </ion-label>
          <ion-label>
            {{selectedPerson}}
          </ion-label>

        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
            Description :
          </ion-label>
          <ion-label>
            {{selectedDesc}}
          </ion-label>

        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center">
        <ion-item>
          <ion-label>
            Start Time :
          </ion-label>
          <ion-label>
            {{selectedStartTime}}
          </ion-label>

        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center">

        <ion-item>
          <ion-label>
            End Time :
          </ion-label>
          <ion-label>
            {{selectedEndTime}}
          </ion-label>

        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 5%; width: 85%; float: left; margin-top: 10%">
      <ion-col align="center">

        <ion-button (click)="sendReq()">
          Request to Change
        </ion-button>

      </ion-col>
    </ion-row>


  </ion-grid>









</ion-content>