<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color:white"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>
      Board Room :
    </ion-label>
    <ion-input>
      {{selectedBdNo}}
    </ion-input>

  </ion-item>

  <ion-item>
    <ion-label>
      Title :
    </ion-label>
    <ion-input>
      {{selectedTitle}}
    </ion-input>

  </ion-item>

  <ion-item>
    <ion-label>
      Book By :
    </ion-label>
    <ion-input>
      {{selectedPerson}}
    </ion-input>

  </ion-item>

  <ion-item>
    <ion-label>
      Description :
    </ion-label>
    <ion-input>
      {{selectedDesc}}
    </ion-input>

  </ion-item>

  <ion-item>
    <ion-label>
      Start Time :
    </ion-label>
    <ion-input>
      {{selectedStartTime}}
    </ion-input>

  </ion-item>

  <ion-item>
    <ion-label>
      End Time :
    </ion-label>
    <ion-input>
      {{selectedEndTime}}
    </ion-input>

  </ion-item>

  <div  align="center">
      <div  style="margin-left: 5%; width: 85%; float: left">
          <ion-button>
            Change Booking
          </ion-button>
      </div>
     
    </div>


</ion-content>