<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color:white"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="reqUser=='true'">



</ion-content>


<ion-content *ngIf="reqUser=='false'">
  <ion-item>
    <ion-label>
      Board Room :
    </ion-label>
    <ion-label>
      {{selectedBdNo}}
    </ion-label>

  </ion-item>

  <ion-item>
    <ion-label>
      Title :
    </ion-label>
    <ion-label>
      {{selectedTitle}}
    </ion-label>

  </ion-item>

  <ion-item>
    <ion-label>
      Book By :
    </ion-label>
    <ion-label>
      {{selectedPerson}}
    </ion-label>

  </ion-item>

  <ion-item>
    <ion-label>
      Description :
    </ion-label>
    <ion-label>
      {{selectedDesc}}
    </ion-label>

  </ion-item>

  <ion-item>
    <ion-label>
      Start Time :
    </ion-label>
    <ion-label>
      {{selectedStartTime}}
    </ion-label>

  </ion-item>

  <ion-item>
    <ion-label>
      End Time :
    </ion-label>
    <ion-label>
      {{selectedEndTime}}
    </ion-label>

  </ion-item>

  <div align="center">
    <div style="margin-left: 5%; width: 85%; float: left" (click)="sendReq()">
      <ion-button>
        Request to Change
      </ion-button>
    </div>

  </div>
</ion-content>