<ion-content class="background">
  <ion-grid style="margin-top: 15%">
    
    <div align="center" style="margin-top: 22%">
      <ion-row style="margin-top: 15%">
        <ion-col>
          <!-- <div align="center" style="color:white;width:100%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 2em">
            <b>Board Room <br>Reservation</b>
          </div> -->
          <div style="width:100%">
            <img src="../../assets/Ogilvy.png" align="center" style="margin: auto;display: block; height: auto; width: 100%" />

          </div>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>.
            <div align="center" style="margin-top: -21%;color:white;width:100%; font-family: inherit; font-size: 1.5em">
            Boardroom Reservation
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
           <ion-button color="light"  [routerLink]="['/login']" style=" width: 90% ">
            Login
          </ion-button>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color="medium" style="width:90%" [routerLink]="['/register']">
            Register
          </ion-button>
        </ion-col>
      </ion-row>

    </div>


  </ion-grid>


</ion-content>
<!-- 
<ion-footer style="background: black">
  <div align="center" style="color: whitesmoke">
    Copyright © 2019 <b style="color: #ee1c25">Neo@Ogilvy</b>. All rights reserved.
  </div>

</ion-footer> -->