

<ion-content class="content-back">
  <ion-grid style="margin-top: 10%">
      <ion-row>
          <ion-col align="left">
            <ion-label>
              <ion-icon name="notifications" (click)="goNotifications()" style="height: 25px; width: 50px"></ion-icon>
            </ion-label>
          </ion-col>
          <ion-col align="right">
            <ion-label>
              <ion-icon name="log-out" (click)="logout()" style="height: 25px; width: 50px"></ion-icon>
             </ion-label>
    
          </ion-col>
        </ion-row>
    
    <ion-row>
      <ion-col align="center" style="font-size: 2em;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ">
        <ion-label>
         Hey 
        </ion-label>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center" style="font-size: 2em;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ">
          <ion-label>
              <b>{{ userFullName }} </b>  
               </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <input type="radio" name="checkbox" id="checkbox1" value="bdroom1">
          <label align="center" class="tbox" for="checkbox1" style="width:100%;color:  whitesmoke" (click)="brSelect(1)">
            Board Room 1 <br>
            (Media)
    
    
          </label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <input type="radio" name="checkbox" id="checkbox2" value="bdroom2">
        <label align="center" class="tbox" for="checkbox2" style="width:100%;color:  whitesmoke" (click)="brSelect(2)">
          Board Room 2 <br>
          (Neo)
  
  
        </label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align="center">
        <ion-label (click)="goToBooking()" class="btnmargin">
          Book Now
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>