
  input[type="radio"] {
    visibility: hidden;
  }
  
  
  input[type="radio"]:checked + label {
   // background-color: hsla(186, 52%, 0%, 0.7) ;
   background-color: #EC3F43;
    color: white;
  }

  input[type="radio"]:checked + label > p {
    color: white;
  }

  label > p {
    color: whitesmoke;
  }
  
.tbox {
  width: 195px;
  height: 195px;
  //padding: 30px 20px;
  margin: 8px 0;
  display: inline-block;
 // border: 1px solid #E6E6E6;
  border-radius: 20px;
  box-sizing: border-box;
  // -o-box-shadow: 5px 5px 5px #A4A4A4;
  // -khtml-box-shadow: 5px 5px 5px #A4A4A4;
  // -webkit-box-shadow: 5px 5px 5px #A4A4A4;
  // -moz-box-shadow: 5px 5px 5px #A4A4A4;
  // box-shadow: 5px 5px 5px #A4A4A4;
 // padding-left: 35px;
  margin-top: 5%;
  font-size: large;
  background:  rgba(255, 255, 255, 0);
  color: #EC3F43;
}

.btnmargin{
    width: 60%;
    padding: 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    background-color: #EC3F43;
}

.content-back {
  --background: #EC3F43;
}



ion-icon{
  color: white;
}

ion-label{
  color: white;
}

ion-card{
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  

  
}



.card-title{
  font-size: 0.9em;
  width: 61%;
  font-weight: bold;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  //background: hsla(186, 52%, 0%, 0.7);
  height: 100%;
 

}

.card-overlay {
  width: 130px;
  //height: 300px;
  position: absolute;
  left: 50%;
  top: 116%; 
  margin-left: -68px;
  margin-top: -147px;
  border-radius: 60px;
  // background: linear-gradient(to right, rgba(68, 253, 159, 0.65), rgba(72, 127, 238, 0.65));
  //background-color: #00000070;
  
}

img{
  border-radius: 100px;
  border: 2.5px solid #E6E6E6;
}

ion-avatar{
  width: 173px;
  height: 173px;
}